.Popular {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 55px;
  padding-left: 3rem;
}

.slide {
  display: flex;
  justify-content: center;
  padding: 35px;

  .container {
    width: 1400px;
    position: relative;
  }

  .carousel-initialized {
    position: static;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .carousel-prev {
    left: -25px;
  }
}

.slick-prev:before,
.slick-next:before {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  display: flex;
  justify-content: center;
}