.featured {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 20px;
  margin: 2rem;
  overflow: hidden;

  .background-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .carousel-image {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 44px;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        width: 475px;
        background-color: white;
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          padding-left: 24px;
          display: flex;
          align-items: center;
          gap: 10px;

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
              font-size: 14px;
            }
          }
        }

        button {
          width: 70px;
          height: 50px;
          padding-top: 5px;
          margin: 4px;
          font-size: 26px;
          border-radius: 10px;
          border: none;
          background-color: #191e24;
          color: white;
          align-self: flex-end;
          cursor: pointer;
        }

        button:hover {
          background-color: #363434;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 span {
          width: max-content;
          text-align: center;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }

        button:hover {
          background-color: #363434;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

/* Change the background color during the fade effect */
// .slick-slider .slick-list,
// .slick-slider .slick-track {
//     background-color: #000; /* Change to your desired background color */
// }

/* Optionally, you can add a transition effect */
// .slick-slider .slick-track {
//     transition: background-color 1s ease-in-out;
// }

/* Ensure this targets the correct component */
.featured .slick-loading .slick-list {
    background: #000 center center no-repeat !important;
}

/* Arrow styles for the Slick carousel */
.slick-prev:before,
.slick-next:before {
    color: #000; /* Change to your desired arrow color */
    font-size: 40px; /* Change arrow size if needed */
}

.slick-prev:hover:before,
.slick-next:hover:before{
    color: grey; /* Change to your desired hover color */
}

.slick-prev {
    left: -30px; /* Adjust left arrow position */
}

.slick-next {
    right: -30px; /* Adjust right arrow position */
}

