.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 20px;
  margin: 2rem;
  background-image: url("/img/Hero_img.jpg");
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;

  .container {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 44px;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      h1 {
        font-size: 50px;

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .search {
        width: 475px;
        background-color: white;
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          padding-left: 24px ;
          display: flex;
          align-items: center;
          gap: 10px;
          // img {
          //   width: 20px;
          //   height: 20px;
          //   margin: 10px;
          // }

          input {
            border: none;
            outline: none;

            &::placeholder {
              color: gray;
              font-size: 14px;
            }
          }
        }

        button {
          width: 70px;
          height: 50px;
          padding-top: 5px;
          margin: 4px;
          font-size: 26px;
          border-radius: 10px;
          border: none;
          background-color: #191e24;
          color: white;
          align-self: flex-end;
          cursor: pointer;
          // transition: all;
        }


        button:hover{
          background-color: #363434;
          // transition: all;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 span {
          width: max-content;
          text-align: center;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }

        button:hover{
          background-color: #363434 ;
          cursor: pointer;
        }
      }
    }

    .right {
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
