.mainLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.loginpage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  border-radius: 15px;
  background-color: #1f1f1f;
  width: 100%;
  max-width: 768px;
  min-height: 480px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

  form {
    width: 100%;
    max-width: 360px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px;

    .loginh1 {
      color: black;
      font-size: 42px;
      margin-bottom: 20px;
      text-align: center;
    }

    label {
      color: black;
      font-size: 18px;
    }

    input {
      padding: 15px;
      border: 1px solid #444;
      border-radius: 5px;
      font-size: 16px;
      background-color: white;
      color: black;
      transition: border-color 0.3s ease;
    }

    input:focus {
      outline: none;
      border-color: #777;
    }

    .buttonLogin {
      padding: 15px 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #121213;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      margin-top: 10px;

      &:hover {
        background-color: white;
        color: black;
        transform: scale(1.1);
        box-shadow: 0 0 15px #000000, 0 0 25px #151515, 0 0 35px #0f0f0f, 0 0 45px #131313;
      }
    }
  }
}